{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>All Volunteer</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th>Volunteer Name</th>
                <th>Email ID</th>
                <th>Contact</th>
                <th>Reg. Date</th>
                <th>Status</th>
                <th>Action</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th>1</th>
                <td>Saifur Rahman</td>
                <td>saifurrahman@gmail.com</td>
                <td>+8801581594216</td>
                <td> 13/06/2024</td>
                <td>pending</td>
                <td><a href="{% url 'view_volunteerdetail' 2 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>2</th>
                <td>Arshad Ahmed</td>
                <td>arshadahmed@gmail.com</td>
                <td>+8801762547896</td>
                <td>15/06/2024</td>
                <td>approved</td>
                <td><a href="{% url 'view_volunteerdetail' 3 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>3</th>
                <td>Mubin Nomani</td>
                <td>mubinnomani@gmail.com</td>
                <td>+8801879654123</td>
                <td>20/06/2024</td>
                <td>pending</td>
                <td><a href="{% url 'view_volunteerdetail' 4 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>4</th>
                <td>Tawab Ahmed</td>
                <td>tawabahmed@gmail.com</td>
                <td>+8801963548723</td>
                <td>25/06/2024</td>
                <td>approved</td>
                <td><a href="{% url 'view_volunteerdetail' 5 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>5</th>
                <td>Rajul Islam</td>
                <td>rajulislam@gmail.com</td>
                <td>+8801556348721</td>
                <td>28/06/2024</td>
                <td>rejected</td>
                <td><a href="{% url 'view_volunteerdetail' 6 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>6</th>
                <td>Delowar Hossain Somrat</td>
                <td>delowarhossain@gmail.com</td>
                <td>+8801789657412</td>
                <td>01/07/2024</td>
                <td>approved</td>
                <td><a href="{% url 'view_volunteerdetail' 7 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>7</th>
                <td>Saidur Rahman Sajid</td>
                <td>saidurrahman@gmail.com</td>
                <td>+8801654723891</td>
                <td>05/07/2024</td>
                <td>pending</td>
                <td><a href="{% url 'view_volunteerdetail' 8 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>8</th>
                <td>Ahnaf Shakil</td>
                <td>ahnafshakil@gmail.com</td>
                <td>+8801987345621</td>
                <td>10/07/2024</td>
                <td>approved</td>
                <td><a href="{% url 'view_volunteerdetail' 9 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>9</th>
                <td>Alvee Islam</td>
                <td>alveeislam@gmail.com</td>
                <td>+8801546879213</td>
                <td>15/07/2024</td>
                <td>rejected</td>
                <td><a href="{% url 'view_volunteerdetail' 10 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              <tr>
                <th>10</th>
                <td>Sayeed Sami</td>
                <td>sayeedsami@gmail.com</td>
                <td>+8801678945123</td>
                <td>20/07/2024</td>
                <td>approved</td>
                <td><a href="{% url 'view_volunteerdetail' 11 %}">View Details</a></td>
                <td><a href="#">Delete</a></td>
              </tr>
              
        </tbody>
    </table>
  </div>
{% endblock main %}
