{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>Manage Donor</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th>Donor Name</th>
                <th>Email ID</th>
                <th>Contact</th>
                <th>Reg. Date</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
            <tr class="text-center">
              Here is the table for 10 names you provided:  

              ```html
              <tr>
                <th>1</th>
                <td>Saifur Rahman</td>
                <td>saifurrahman@gmail.com</td>
                <td>01862961663</td>
                <td>02/02/2024</td>
                <td><a href="{% url 'view_donordetail' 1 %}">View Details</a></td>
              </tr>
              <tr>
                <th>2</th>
                <td>Arshad Ahmed</td>
                <td>arshadahmed@gmail.com</td>
                <td>01856239127</td>
                <td>03/02/2024</td>
                <td><a href="{% url 'view_donordetail' 2 %}">View Details</a></td>
              </tr>
              <tr>
                <th>3</th>
                <td>Mubin Nomani</td>
                <td>mubinnomani@gmail.com</td>
                <td>01862984567</td>
                <td>04/02/2024</td>
                <td><a href="{% url 'view_donordetail' 3 %}">View Details</a></td>
              </tr>
              <tr>
                <th>4</th>
                <td>Tawab Ahmed</td>
                <td>tawab.ahmed@gmail.com</td>
                <td>01852367891</td>
                <td>05/02/2024</td>
                <td><a href="{% url 'view_donordetail' 4 %}">View Details</a></td>
              </tr>
              <tr>
                <th>5</th>
                <td>Rajul Islam</td>
                <td>rajulislam@gmail.com</td>
                <td>01862961432</td>
                <td>06/02/2024</td>
                <td><a href="{% url 'view_donordetail' 5 %}">View Details</a></td>
              </tr>
              <tr>
                <th>6</th>
                <td>Delowar Hossain Somrat</td>
                <td>delowarsomrat@gmail.com</td>
                <td>01862567894</td>
                <td>07/02/2024</td>
                <td><a href="{% url 'view_donordetail' 6 %}">View Details</a></td>
              </tr>
              <tr>
                <th>7</th>
                <td>Saidur Rahman Sajid</td>
                <td>saidurrahman@gmail.com</td>
                <td>01862968953</td>
                <td>08/02/2024</td>
                <td><a href="{% url 'view_donordetail' 7 %}">View Details</a></td>
              </tr>
              <tr>
                <th>8</th>
                <td>Ahnaf Shakil</td>
                <td>ahnafshakil@gmail.com</td>
                <td>01856238976</td>
                <td>09/02/2024</td>
                <td><a href="{% url 'view_donordetail' 8 %}">View Details</a></td>
              </tr>
              <tr>
                <th>9</th>
                <td>Alvee Islam</td>
                <td>alveeislam@gmail.com</td>
                <td>01862965432</td>
                <td>10/02/2024</td>
                <td><a href="{% url 'view_donordetail' 9 %}">View Details</a></td>
              </tr>
              <tr>
                <th>10</th>
                <td>Sayeed Sami</td>
                <td>sayeedsami@gmail.com</td>
                <td>01862964876</td>
                <td>11/02/2024</td>
                <td><a href="{% url 'view_donordetail' 10 %}">View Details</a></td>
              </tr>
        </tbody>
    </table>
  </div>
{% endblock main %}
